[package]
name = "nu_plugin_ulid"
version = "0.4.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/lizclipse/nu_plugin_ulid"
description = "A nushell plugin that adds various ulid commands"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.38"
nu-plugin = "0.94.0"
nu-protocol = { version = "0.94.0", features = ["plugin"] }
ulid = { version = "1.1.2", features = ["uuid"] }
uuid = "1.8.0"

[profile.release]
codegen-units = 1
lto = true
strip = "symbols"
